
html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.left {
  float: left;
}
.right {
  float: right;
}
.centertext {
  text-align: center;
}
h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: 'PT Serif', serif;
}
p{
  font-family: 'Open Sans', sans-serif;
  color: #576268;
  line-height: 1.7;

}
header {
  background-color: #39474E;
  overflow: hidden;
  padding: 5px 0px 5px 0px;

}
.logo {
  padding: 0px;
  display: inline-block;
  float: left;
  padding: 0.5rem 0.5rem 0.125rem 0.9375rem;
}
.logo img {
  height: 43px;
  width: 63px;

}
.l-header-nav {
  margin: 0px;
  float: left;
  display: inline-block;
  padding: 0px;
}

.l-header-nav a{
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.l-header-nav li {
  color: white;
  font-size: .9rem;
 display: none;
  margin: 14px;
  color: white;
}
.l-header-nav-secondary{
  font-size: 1rem;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
.l-header-nav-secondary  li{
  color: white;
  font-size: .9rem;
 display: none;
  margin: 8px;
  color: white;

}
.l-header-nav-secondary a {
  color: #848a91;
}
.l-header-nav-secondary .btn {
  background: #6fbbb7;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 15px;
}

/*hero*/

.hero {
  background: url("../images/amy-home-web2.jpg") center center / cover no-repeat transparent;
  background-size: cover;
  padding: 10px 15px;

}
.text-container h1 {
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.text-container h2 {
  color: white;
  font-size: 1.6rem;
  margin: 20px 0px 20px 0px;}

  }
.text-container {
  width: 750px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text-container h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.text-container h2 {
  color: white;
  font-size: 1.2rem;
  margin: 20px 0px 20px 0px;

}
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: whites;
  }
}
.text-container .btn {
  background: #6fbbb7;
  color: white;
  font-size: 1.3rem;
  padding: 7px 30px 7px 10px;
  margin-bottom: 25px;


}
/* press */

.press {
  background-color: #EEEEEE;
  padding: 10px 15px;
  display: none;
}
.media-logo {
  width: 14%;}

/* what we offer */

.what-we-offer {
  padding:50px 0px;
}

.what-we-offer h3{
  color: #727D84;
  font-weight: bold;
  margin-bottom: 20px;
  font-style: italic;
}
.what-we-offer p {
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 1.2rem;
}


.greybox {
border-radius: 10px;
margin: 0 auto;
background-color: #EBEBEB;
padding: 20px;
width: 100%;
border: none;
border-bottom: 2px solid #d2d2d2;
}
.greybox p {
  font-size: 14px;
  line-height: 2;
}
.greybox h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.form-control{
    float: left;
    margin-bottom: 10px;
    height: 50px;
    font-style: italic;
    font-size: 16px;
    outline: none;
}
.half-width{
  width: 48%;
}
#first_name {
    margin: 0px 2.5% 0px 0px;
}
.form-group {
  text-align: center;
  margin-top: 10px;
}
.a-button{
  clear: both;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.2rem;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  padding: 10px 25px;
  background-color: #6fbbb7;
  border: none;
  border-bottom: 2px solid #4fa8a3;
  width: 100%;
}

/* Discover out Courses */

.discover-our-courses {
  background-color: #EEEEEE;
  clear: both;
  text-align: center;
  padding: 40px 15px 75px 15px;
  border-bottom: 1px solid #c1c1c1;
}
.discover-our-courses h2 {
  color: #727D84;
  font-style: italic;
  font-weight: bold;
}
.discover-our-courses p {
  font-size: 1.2rem;
  Color: #576268;
  margin-bottom: 50px;
  margin-top: 30px;
}
.discover-our-courses h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.6;
}
.course-icons {
  margin-top: 100px;
}

.frontend {
  color: #CF852C;
}
.backend {
  color: #AF5C56;

}
.mobile {
  color: #D2B52B;
}

.interface {
  color: #2AA2AE;
}


/* what our students say */

.what-our-students-say {
  padding: 0px 0px 20px 0px;
  overflow: hidden;
}
.quote-box {
  text-align: left;
  padding-left: 15px;
  padding-right: 20px;
  margin-top: 50px
}
.quote-box h2 {
  color: #808a91;
  margin-bottom: 40px;
  font-size: 1.5rem;
  text-transform: uppercase;


}
.quote-box h3 {
  color: #808a91;
  font-style: italic;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 30px;
  font-size: 1.9rem;
  quotes: "“" "”" "‘" "’";
}
.quote-box p{
  margin-top: 10px;
  font-size: 1.1rem;
  font-style: italic;
}
.students {
  text-align: center;
  float: right;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #576268;
  font-style: italic;

}
.name {
  color: #83c5c1;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 5px;
}
.students h5 {
  color: #808a91;
  font-style: italic;
  margin-top: 10px;
  font-size: 1.5rem;
}
.students p {
  color: #808a91;
}
.students img {
  height: 110px;
  border-radius: 100%;
  border: 4px solid #CF852C;
  margin-bottom: 20px;
}
.male {
  float: right;
  padding: 0px 15px;
  margin-top: 50px


}
.female {
  float: right;
  padding: 0px 15px;
  margin-top: 50px

}
.students p{
  text-align: left;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;

}


/* Employers */

.employers {
  clear: both;
  background: url("../images/employers-image.jpg") no-repeat ;
  background-size: cover;
  background-position: center;
    background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 50px 0px;
}
.employers h2 {
  font-style: italic;
  font-weight: bold;
}
.employers p {
  color: white;
  line-height: 1.6;
  margin:20px;
  font-weight: 100;
  font-size: 1.2rem;

}
.employers img {
  width: 150px;
}
.employer-icon {
  width: 30%;
  display: inline-block;
}
.icontainer {
  margin-bottom: 40px;
}
.icon-container .employer-icon img {
    width: 50%;
    max-width: 230px;}

.btn-styles a.neptune-colored-btn {
    background: #6fbbb7;
    border-bottom: 2px #74A19C solid;
    color: white;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 10px 30px;
}

.col-xs-12 .col-sm-6 .col-md-4 .col-lg-3 {
  padding-left: 15px;
  padding: right: 15px;
}


/* Questions */

.questions {
  margin: 50px 0px
}
.questions h2 {
  color: #727D84;
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 40px;
}

.questions h3 {
  color: #727D84;
  font-style: italic;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 1.9rem;
  quotes: "“" "”" "‘" "’";
}
.questions p {
  line-height: 1.6;
  font-size: 1.2rem;

}

#margin-needed {
  margin-bottom: 31px;
  font-size: 14px;
}
#call-text{
  font-size: 14px;
}

.first_name {
      margin: 0px 2.2% 0px 0px;
}
footer {
  background-color: #39474E;
  padding-bottom: 30px;

}

.footer ul {
  list-style: none;
  color: white;
  font-family: 'PT Serif', serif;
  padding-left: 0px;
}
.footer li{
  margin-top: 15px;
}
footer a {
  color: #838f95;
  font-family: 'Open Sans', sans-serif;

}


.single-footer-links{
  list-style: none;
  color: white;
  font-family: 'PT Serif', serif;
}
.tiy-logo{
  clear: left;
  text-align: left;
  font-size: 12px;
  color: #b5b7be;

}
.tiy-logo img {
    height: 58px;

  }
.copyright.grey{
  font-size: 12px;
  color: #b5b7be;
}
.privacy-policy {
  font-size: 12px;
  color: #b5b7be;
}
.terms {
  font-size: 12px;
  color: #b5b7be;
  display: inline;
  margin-right: 5px;
}
#terms {
  border-left: 1px solid #b5b7be;
  padding-left:10px;
}


    @media only screen and (min-width: 601px){
        .text-container {
          margin-top: 100px;
          margin-bottom: 100px;
        }
        .press {
          display: block;
        }
        .media-logo {
          width: 30%;
        }
      }

      @media only screen and (min-width: 640px){
        .media-logo {
        width: 13%;
        }
        .footer .tiy-logo{
        float: right;
        clear: none;
        text-align: right;
      }
        .footer .tiy-logo img {
        height: 100px;

      }
    }
      @media (max-width: 650px){
    .footer .tiy-logo {
        text-align: left;
        width: 100%;
        top: 20px;
    }
  }
  @media (min-width: 706){
    .l-header-nav {
      display: inline-block;
  }
  .l-header-nav-secondary{
    display: inline-block;
  }
}


      @media (min-width: 768px){
        .container, .footer {
          width: 750px;
        }
        .logo img {
          height: 73px;
        }
        .l-header-nav {
          margin-top: 20px;

          }
        .l-header-nav li {
          color: white;
          font-size: 1.2rem;
          display: inline-block;
          margin: 14px;
          color: white;
          }
        .l-header-nav-secondary{
          font-size: 1rem;
          margin-top: 25px;
          }
        .l-header-nav-secondary  li{
          color: white;
          font-size: 1rem;
          display: inline-block;
          margin: 8px;
          color: white;
          }
        .l-header-nav-secondary a {
          color: #848a91;
          }
    }
      @media (max-width: 767px){
        .icon-container .employer-icon {
        width: 100%;
        text-align: center;
        display: block;
      }

    }

      @media (min-width: 992px){
    .container, .footer {
        width: 970px;
      }
    }

      @media (min-width: 1025px){
        .text-container {
          margin: 195px 0px;
        }
        .text-container h1 {
          font-size: 4.3rem;
          font-weight: bold;
        }
        .text-container h2 {
          color: white;
          font-size: 2rem;
          margin: 20px 0px 20px 0px;
      }
    }

    @media (max-width: 1199px) {
    .last {
        clear: both;
      }
    }
      @media (min-width: 1200px){
      .container, .footer {
      width: 1170px;
      }
      .tiy-logo img {
    height: 80px;
  }
    }
